{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/clojurescript {:mvn/version "1.10.516"}

        com.google.api-client/google-api-client           {:mvn/version "1.30.2"}
        com.google.oauth-client/google-oauth-client-jetty {:mvn/version "1.30.1" :exclusions [org.mortbay.jetty/jetty]}
        com.google.apis/google-api-services-calendar      {:mvn/version "v3-rev379-1.25.0"}
        sudharsh/clj-oauth2                               {:mvn/version "0.5.3"}
        cheshire                                          {:mvn/version "5.8.1"}
        clj-gitlab                                        {:mvn/version "0.1.0"}
        com.novemberain/monger                            {:mvn/version "3.1.0"}}
 :aliases {:dev {:extra-paths ["resources" "devcards"]
                 :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.0-SNAPSHOT"}
                              devcards {:mvn/version "0.2.6"}}}}}
